@media screen and (max-width: 1200px) {
    // download
    .why-download_contant-wrapper {
        padding: 55px 50px !important;
        padding-bottom: 1px !important;
    }
    .why-dowload_button {
        .mac-button {
            width: 20px !important;
        }
        .windows-button {
            width: 20px !important;
        }
    }
}