@mixin keyframes($name) {
    @keyframes #{$name} {
        @content;
    }
}


//menu
@include keyframes (visibleMenu) {
    0% {
        visibility: hidden;
        transform: translateY(-200px);
    }
    100% {
        visibility: visible;
        transform: translateY(0);
    }
}



//main animation
@include keyframes (mainAnim) {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

//leave animation
@include keyframes (leaveAnim) {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(-150px);
    }
}

